---
export interface Props {
	title: string;
}

const { title }: Props = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/assets/svg/luminobyte.svg" />
		<meta name="description" content="We are LuminoByte, a small indie game development team that strives for bright ideas, and to make awesome games for users! I founded the team on the 2nd of April 2023, so we haven't been around for long. But don't let that fool you - we are a passionate and dedicated group of individuals who are determined to create new and innovative games that will win over the hearts of players everywhere." />
		<meta property="og:title" content="Pluto Design - Custom Website Design" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://example.com/" />
		<meta property="og:image" content="/assets/svg/luminobyte.svg" />
		<meta property="og:description" content="We are LuminoByte, a small indie game development team that strives for bright ideas, and to make awesome games for users! I founded the team on the 2nd of April 2023, so we haven't been around for long. But don't let that fool you - we are a passionate and dedicated group of individuals who are determined to create new and innovative games that will win over the hearts of players everywhere.">
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Press+Start+2P&family=Source+Code+Pro&display=swap');

	* {
		margin: 0;
		padding: 0;
		font-family: 'Press Start 2P', cursive;
		color: white;
		transition: all .2s ease-in-out;
		scroll-behavior: smooth;
	}

	body {
		background-color: #000000;
		--bright-green: #0CDE3A;
	}
</style>